<h1>{{ title }}</h1>

<div class="grid">
  <app-xlsx-input
    key="mosel"
    buttonTitle="Füge Mosel Trophy XLSX hinzu"
  ></app-xlsx-input>
  <app-xlsx-input
    key="sauerland"
    buttonTitle="Füge NRW Cup XLSX hinzu"
  ></app-xlsx-input>
</div>

<div class="grid">
  <app-list-number key="mosel" title="Anzahl Mosel"></app-list-number>
  <app-list-number title="Anzahl Gesamt"></app-list-number>
  <app-list-number key="sauerland" title="Anzahl Sauerland"></app-list-number>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th>WPRS</th>
      <th>Name</th>
      <th>Civl</th>
      <th>Herkunft</th>
      <th>M/W</th>
      <th>Mosel</th>
      <th>Sauerland</th>
    </tr>
  </thead>
  <tr *ngFor="let row of data; index as i">
    <td>{{ i + 1 }}</td>
    <td>{{ row.latestRanking }}</td>
    <td>{{ row.firstName }} {{ row.lastName }}</td>
    <td>{{ row.civlId }}</td>
    <td>{{ row.state }}</td>
    <td>{{ row.gender }}</td>
    <td>
      <input type="checkbox" [checked]="row.mosel" />
    </td>
    <td><input type="checkbox" [checked]="row.sauerland" /></td>
  </tr>
</table>

<footer>
  Powered by
  <a href="http://kaiwissel.de"
    ><img src="../assets/favicon.png" alt="" width="40"
  /></a>
</footer>
