<h1>{{ title }}</h1>

<div class="grid">
  <app-xlsx-input
    key="mosel"
    buttonTitle="Füge Mosel Trophy XLSX hinzu"
  ></app-xlsx-input>
  <app-xlsx-input
    key="sauerland"
    buttonTitle="Füge NRW Cup XLSX hinzu"
  ></app-xlsx-input>
</div>

<div class="grid">
  <app-list-number key="mosel" title="Anzahl Mosel"></app-list-number>
  <app-list-number title="Anzahl Gesamt"></app-list-number>
  <app-list-number key="sauerland" title="Anzahl Sauerland"></app-list-number>
</div>

<app-main-table></app-main-table>

<div class="grid">
  <app-export-csv></app-export-csv>
  <app-import-csv></app-import-csv>
</div>

<footer>
  <a href="http://kaiwissel.de"
    ><img
      class="growOnHover"
      src="../assets/favicon.png"
      alt="http://kaiwissel.de"
      width="40"
  /></a>
</footer>
