/* You can add global styles to this file, and also import other style files */
/* .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: aliceblue;
} */

/* .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20;
} */
