.growOnHover {
  transition: transform 0.2s;
}

.growOnHover:hover {
  transform: scale(1.5);
}

@media (min-width: 768px) {
  .numberOverview {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}
